/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */



/* ------------------------------------- */


.swiper.landingHeaderSlider {
  width: 100%;
  height: 100%;
}

.landingHeaderSlider .swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.landingHeaderSlider .swiper-pagination-bullet{
    background:transparent !important;
    border:1px solid transparent  !important;
    border:1px solid #fff  !important;
    opacity:1 !important;

}
.landingHeaderSlider .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:#fff !important;
}

/* .landingHeaderSlider .swiper-button-next,.swiper-button-prev{
    color :#fff !important;
    width: 20px !important;
    font-size: 20px  !important;
    margin: 0 20px !important;
} */
.landingHeaderSlider .swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}
