.swiper.sectionSlider {
    width: 100%;
    height: 100%;
  }

  .sectionSlider .swiper-wrapper {
     margin-bottom: 33px !important;
     /* border:1px solid #252525  !important; */
  
  }
  .sectionSlider .swiper-slide {
    
    /* text-align: center; */
    /* font-size: 18px; */
    /* background: #fff; */
  
    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .sectionSlider .swiper-pagination-bullet{
      background:transparent !important;
      border:1px solid transparent  !important;
      border:1px solid #252525  !important;
      opacity:1 !important;
  }
  .sectionSlider .swiper-pagination-bullet.swiper-pagination-bullet-active{
      background:#A71218 !important;
      border:1px solid #A71218  !important;

  }
  
  /* .sectionSlider .swiper-button-next,.swiper-button-prev{
       background-color: #ccc;
      color :#fff !important;
      font-size: 20px  !important;
      margin: 0 20px !important;
  } */
  .sectionSlider .swiper-slide img {
    /* display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; */
  }